<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script defer src="/scripts/app.js"></script> -->

</head>

<body>
  <div>
  <a src="../images/3Q LOGO 1.svg"></a>
   </div>

  <div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-7 fw-bold ls-tight">
            Welcome to the <br> The 3 Questions Quiz<br />
          </h1>
        </div>

        <div>
          <div>
            <div class="card-body py-5 px-md-5">
                <div class="container mt-5">
                  <a href="/login">
                  <button type="button" class="btn btn-dark btn-lg">Log in</button>
                  </a>
                </div>
                <div class="container mt-5">
                  <a href="/login">
                  <button type="button" class="btn btn-dark btn-lg">Sign up</button>
                  </a>
                </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>   
  
  <br>
  <br>
  <br>
  <br>
  <a href="/quizpage">
    <button type="submit" class="btn btn-warning btn-lg">Attempt a quiz</button>
  </a>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>