<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>User Page</title>
</head>

<body>
  <header class="header">
    <h1>User Page</h1>
  </header>

  <div class="button-container">
    <button class="login-button left">Log out</button>
    <button class="login-button right">create quiz</button>
  </div>

  <div class="quiz-container">
    <h2>My Quizes</h2>
    <div class="quiz-buttons">
      <% for(let i=0; i < quizzes.length; i++ ) { %>
        <a href="/userQuiz/<%= quizzes[i].id   %>">
          <%= quizzes[i].quizname %>
        </a> <br>

        <% } %>



    </div>
  </div>
</body>

</html>
